body {
    font-family: 'Times New Roman', Times, serif;
}

.immagine-intestazione {
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
}

#logo {
    width: 700px;
}

h1  {
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 50px;
}

.autore {
    color: darkgray;
    margin-top: 2px;
    margin-bottom: 2px;
}

#nome-autore {
    color: rgb(97, 182, 235);
}

.data {
    color: darkgray;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.didascalia {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
}

.highlighted {
    background-color: yellow;
    color: black;
}

th {
    background-color: rgb(47, 199, 236);
    color: white;
    text-align: left;
}

.colonna-tabella {
    padding-right: 100px;
}

.riga-colorata  {
    background-color: rgb(169, 217, 247);
    color: black;
}

h3  {
    color: slategray;
}

.monitor-pic {
    background-image: url("../img/monitor.jpg");
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.graph-pic {
    background-image: url("../img/graph.jpg");
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

#img-font {
    padding-left: 15px;
}